@import "@fontsource/spartan";
@import "@fontsource/noto-sans";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Noto Sans", "Roboto", sans-serif;
    background-color: #425563;
}

#app-name {
    font-family: "Spartan", sans-serif;
}